---
import { ClientRouter } from 'astro:transitions';
interface Props {
	title: String;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ClientRouter/>
	</head>
	<body>
		<div>
			<slot />
		</div>
	</body>
</html>

<style>
	html {
		font-family: system-ui, sans-serif;
		background-image: url('https://wallpapers.com/images/featured/4k-bosque-7sfd6znw2ry6hnlt.jpg');
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		color: #fff;
	}

	body{
		@apply grid place-content-center p-20;
	}

	body > div {
		@apply container;
	}
	
</style>
